@import "../utilidades/variables";
@import "../utilidades/mixins";

// _header.scss
header {  
    @include flex-center; // Usando mixin de flex  
    background-color: $header-background;  
    padding: 1em;  
    width: 100%;  
    box-sizing: border-box;  
}