
//Definicion de la animacion
@keyframes imageSwap {
  0% {
      background-image: url('../img/antes.jpg');
  }
  50% {
      background-image: url('../img/despues.jpg');
  }
  100% {
      background-image: url('../img/antes.jpg');
  }
}




// Media query para pantallas pequeñas (celulares)
@media (max-width: 480px) {

  #grilla {
    grid-template-areas:
      "header"
      "nav"
      "producto"
      "aside"
      "footer";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr; // 100% del ancho
    height: auto; // Permitir que crezca según el contenido
  }

  nav ul li a {
    font-size: 14px; // Tamaño de fuente más pequeño
    padding: 8px 15px; // Ajustar padding en botones
    width: 100%; // Asegura que los enlaces ocupen el 100% del ancho
  }

  header {
    justify-content: center; // Centra el logotipo en pantallas pequeñas
    padding: 1em;
  }

  header img {
    max-width: 120px; // Limitar el tamaño del logotipo en pantallas pequeñas
    height: auto;
  }

  aside img {
    width: 100%; // Asegura que la imagen ocupe el ancho completo
    height: auto; // Permite que la altura se ajuste automáticamente
    
  }
  .animacion-activa {
    background-image: url('../img/antes.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw; /* Ancho del viewport */
    height: 100vh; /* Alto del viewport */
    animation: imageSwap 8s infinite;

}
  #producto {
    padding: 1em; // Ajustar el padding para dar espacio en pantallas pequeñas
    text-align: center; // Centrar texto en pantallas pequeñas
  }

  footer {
    text-align: center; // Centrar contenido del footer
    padding: 1em;
  }

  footer a {
    font-size: 18px; // Tamaño de iconos de redes sociales reducido
    margin: 5px; // Menor espacio entre iconos
  }
}








// Media query para tablets (ancho entre 481px y 768px)
@media (max-width: 768px) {
  #grilla {
    grid-template-areas:
      "header"
      "nav"
      "producto"
      "aside"
      "footer";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    height: auto;
  }

  nav ul li a {
    font-size: 16px; // Tamaño de fuente ligeramente mayor para tablets
    padding: 10px 20px;
  }

  header img {
    max-width: 150px;
  }

  aside img {
    width: 100%; // Ocupar todo el ancho
    height: auto; // Mantener proporciones
  }

  .animacion-activa {
    background-image: url('../img/antes.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw; /* Ancho del viewport */
    height: 100vh; /* Alto del viewport */
    animation: imageSwap 8s infinite;}

}
