// _variables.scss  
$border-color: black;  
$header-background: black;  
$footer-background: black;  
$nav-background-image: url('../img/flor.jpg');  
$product-background-image: url(../img/texturewhiteshapes.jpg);  
$link-color: #db4545;  
$link-hover-color: #44ebeb;

$footer-background: #000000; // Color de fondo del footer (puedes cambiarlo a tu preferencia)  
$link-color: rgba(93, 4, 4, 0.781); // Negro con un 50% de opacidad; // Color de los enlaces  
$link-hover-color: rgba(127, 19, 19, 0.944); // Color de los enlaces al pasar el mouse